<h1>活動趨勢分析</h1>
<div class="row">
    <div class="col-md-12 col-lg-6 col-xxl-12">
      <nb-card size="small">
        <nb-tabset>
          <nb-tab tabTitle="過去活動分析">
                <div class="row">
                    <div class="col-md-12">
                        <nb-card class="inline-form-card">
                        <nb-card-header>挑選活動</nb-card-header>
                        <nb-card-body>
                            <form class="form-inline">
                            <input type="text" nbInput fullWidth placeholder="Jane Doe">
                            <input type="text" nbInput fullWidth placeholder="Email">
                            <button type="submit" nbButton status="primary">Submit</button>
                            </form>
                        </nb-card-body>
                        </nb-card>
                    </div>
                </div>
          </nb-tab>
          <nb-tab tabTitle="寄送活動邀請">
            <span>Content #2</span>
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
</div>